@import 'https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css';

.root {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif, sans-serif;
	color: #fff;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom right, #0181c2, #04a7f9, #4bc4f7);
	display: flex;
	font-size: 16px;
	line-height: 18px;
}

.leading {
	box-sizing: border-box;
	padding: 16px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.trailing {
	background-color: rgba(0, 0, 0, 0.1);
	width: 20%;
	box-sizing: border-box;
	padding: 16px;
	font-size: 40px;
	line-height: 40px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.name {
	margin-bottom: 8px;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 1px;
	margin: 0;
}

.icon {
	font-size: 18px;
	margin-left: 4px;
}

.description {
	display: flex;
	align-items: center;
	margin-top: 4px;
}

.info {
	text-align: right;
}
